*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
:root{
    --bg-color:hsl(210, 46%, 95%);
    --product-details-container-bg-color:white;
    --heading-font-color:#505566;
    --paragraph-font-color:hsl(214, 17%, 51%);
    --date-color:hsl(212, 23%, 69%);
    --share-panel-bg-color:hsl(217, 19%, 35%);
}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    background-color: var(--bg-color);
}
.product-container{
    margin:0 28px;
    display: flex;
    flex-direction: column;


}

.img-wrapper{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.product-details{
    border-radius: 0 0 15px 15px;
    padding: 30px;
    background-color: var(--product-details-container-bg-color);
}
h1{
    font-size: 17px;
    font-weight: 700;
    color: var(--heading-font-color);
    margin-block-end: 15px;
}
.product-description{
    font-size: 13.5px;
    font-weight: 500;
    color: var(--paragraph-font-color);
    margin-block-end: 25px;

}
.contact-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.name{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.michelle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.published-on{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.author-name{
    font-size: 14px;
    font-weight: 700;
    color: var(--heading-font-color);
}
.published-date{
    font-size: 14px;
    font-weight: 700;
    color: var(--date-color);
    font-weight: 500;

}
.share-icon{
    
    background-color: var(--bg-color);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    
}
.share{
    
    margin-left: auto;
}
.share-panel {
    background-color: var(--share-panel-bg-color);
    display: flex;
    border-radius: 0 0 15px 15px;
    padding: 18px;
    gap:1rem;
    align-items: center;
}
.panel-icons{
    height: 20px;
    width: 20px;
    border-radius: 0;
}
.share-panel-icon-wrapper{
    background-color:var(--paragraph-font-color);
    height: 30px;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    
    width: 30px;
    
}
.share-panel-icon {
    filter: brightness(0) invert(1);
    overflow: visible;
    height: auto;
    max-width: 18px;

    
}
.share-panel-para{
    font-family: 'Manrope', sans-serif;
    color: var(--paragraph-font-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;

}
.hidden{
    display: none;
}
.product-details.share-active {
  padding-bottom: 0;
}
/*decktop view*/

@media (min-width: 48rem) {
    .product-container {
        flex-direction: row;
        max-width: 680px;
        width: 100%;

    }
    img{
        border-radius: 15px 0 0 15px;
        
        
        

    }
    .img-wrapper{
        height: 100%;
    }
    .image-section{
        width: 40%;
        flex-shrink: 0;
    }
    .product-details{border-radius: 0  15px 15px 0;}
    .share-panel{
        position: absolute;
        bottom: 90px;
        right: -53px;
        padding: 17px 30px;
        border-radius: 10px;
        width: max-content;  
     }
    .share-panel::after{
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        background: var(--share-panel-bg-color);
        bottom: -7px;
        right: 90px;
        left: unset; 
        transform: rotate(45deg);       
    }
    .product-container{
        position: relative;
    }
    .share-panel-para{
        font-size: 11px;
        font-weight: 700;
    }
    .panel-icons {
        height: 15px;
        width: 15px;
    }   
    .share-panel .share{
        display: none;
    }
    h1{
        width: 90%;
        font-size: 18px;
    }
    .product-description{
        font-size: 11.5px;
        font-weight: 700;
        color:  hsl(214deg 10.53% 73.95%);
    }
    
    
}

